
<div class="row">
    <div class="col-md-12">

        <div style="margin-top:10%">

            <h2>Lab1</h2>
            
            <br/>
            
            <p><b>Завдання:</b>

         
            </p>

            <p>
                Знайдіть усі дільники x, які можна поділити на ВСІ прості дільники x
            </p>

                        <br/>

            <p>
                <b>Рішення:</b>
            </p>
            
            <pre>
1) Шукаємо тільки прості дільники числа x
2) З цього масиву отримуємо масив тільки унікальних значень і шукаємо їх добуток. Щоб цільовий дільник ділився на них усіх, усі вони мають бути в добутку
3) Отримуємо масив 'rest' = прости_дільники - унікальні_дільники
4) Перегляньте решту та помножте кожен елемент на добуток унікальних_простих_чисел
            </pre>

              

            </p>

            <h2>Вхідні дані</h2>

            <form method="POST">

                <br />


                <label>Input file path:</label><br/>
                <input type="text" name="input_file"/>
                
                <br />

                <label>Output file path:</label><br />
                <input type="text" name="output_file"/>

                <br />
                <br />

                <input type='submit' value='Execute'/>

            </form>

        </div>

    </div>
</div>
