@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12" align="center">
        <h1 style="margin-top:100px">Welcome to the Lab6 where you can execute labs 1-3</h1>
        
        <style>
            body {
                text-align: center;
            }

            table {
                width: 70%;
                margin: 20px auto; /* auto - для центрирования */
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        </style>


        @if (User.Identity.IsAuthenticated)
        {

            <img width="300px" src="https://openseauserdata.com/files/e389c98dfc9d80ca6cdc908a34eb3f6a.png" />


            <h3 style="color:green;margin-top:50px">You're already in - you can go to Swagger page to call API</h3>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lab 6</td>
                        <td><a href="/Home/Swagger">Go to</a> </td>
                        <td>Execute all the queries</td>


                    </tr>
                </tbody>
            </table>

        }
        else
        {

            <img width="300px" style="margin-top:40px" src="https://media.tenor.com/Qacq5GeymfoAAAAC/voxero-tide.gif" />

            <h3 style="color:red;margin-top:50px">You need to Sign In first to get access to labs</h3>
        }

    </div>
</div>
