
<div class="row">
    <div class="col-md-12">

        <div style="margin-top:10%">

            <h2>Lab2</h2>

            <br />

            <p>
                <b>Завдання:</b>


            </p>

            <p>
                У заданому слові S знайти кількість так званих "майже паліндромів" в яких необхідно змінити не більше ніж K букв щоб це слово вважалось паліндромом
            </p>

            <br />

            <p>
                <b>Рішення:</b>
            </p>

            <pre>
1) Шукємо всі підслова в слові S
2) Запускаємо по них цикл
3) Всередині цього цикла - вкладений цикл по символам слова. Від word[0] до word[length-1] зі зміщенням до центру слова
4) На кожному кроці вкладеного циклу перевіряємо рівність символів. Якщо вони не співпадають - фіксуємо це. При перебільшені K можна виходити з даного циклу так як немає сенсу більше перевіряти слово
5) Також на кожному кроці робимо перевірку умов виходу з нього. Якщо слово складається з парної кількості букв, то вихід буде при startOfWordIndex + 1 == endOfWordIndex, інакше при startOfWordIndex == endOfWordIndex
6) Після виходу з вкладеного циклу перевіряємо чи не було виходу по причині переповнення K. Якщо ні - збільшуємо кількість майже паліндромів та додаємо в масив(щоб потім наглядно вивести)
7) Записуємо фінальну кількість до output.txt
            </pre>



            </p>

            <h2>Вхідні дані</h2>

            <form method="POST">

                <br />


                <label>Input file path:</label><br />
                <input type="text" name="input_file" />

                <br />

                <label>Output file path:</label><br />
                <input type="text" name="output_file" />

                <br />
                <br />

                <input type='submit' value='Execute' />

            </form>

        </div>

    </div>
</div>
